---
page_title: "Provider: QIP"
description: |-
  Resource and data provider for Nokia QIP.
---

# Nokia QIP Provider

The provider for Nokia QIP will allow you to retrieve metadata from QIP or manage IPv4 addresses including their DNS names.

Features:

- Data sources for `qip_v4address` and `qip_v4subnet`
- Manage addresses with `qip_v4address`

<!-- TODO: when published
Also see the Terraform module [qip-address](https://github.com/Vitesco-Technologies/terraform-module-qip-address).
-->

Build based on the Swagger API documentation that should be available with your QIP instance: `https://qip.example.com.com/rest-api/`

## Example

{{ tffile "examples/provider/provider.tf" }}

{{ .SchemaMarkdown | trimspace }}
